<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
</head>

<body>
<p>&nbsp;</p>
<table width="100" border="0" cellspacing="20">
  <tr>
    <td><img src="http://www.networkingdayscircles.com/images/logo-networking-days.png" alt="Logo Networking Days" width="500" height="130" /></td>
    <td><img src="http://www.min.uni-hamburg.de/promotion/welcome.jpg" alt="Sello" width="266" height="206" /></td>
  </tr>
  <tr>
    <td colspan="2"><p>Estimado (NOMBRE),</p>
    <p>Este correo es para darte la más <em><strong>Cordial Bienvenida a los Círculos de Networking Days</strong></em> y para comunicarte que has quedado registrado en la Categoría (CATEGORIA) y Especialidad (ESPECIALIDAD)</p>
    <p><strong>Opción 1: Si la persona seleccionó un Círculo existente</strong> (esto se elimina del correo)</p>
    <p>Además, te comentamos que a partir de este momento perteneces al Círculo (NOMBRE DEL CÍRCULO)</p>
    <p>Te proponemos participar activamente y a hacer crecer tu Círculo invitando a tus contactos para que sumes a profesionales, mecánicos, pequeños comerciantes y todos aquellos que creas que pueden ser referidos en los Círculos de Networking Days.</p>
    <p><strong>Opción 2: Si la persona no seleccionó un Círculo y propuso uno nuevo</strong> (esto se elimina del correo)</p>
<p>Además, te comentamos que estaremos analizando la creación del Círculo (NOMBRE DEL CIRCULO PROPUESTO) y te avisaremos en cuanto tengamos una resolución al respecto.</p>
<p>¡Éxitos!</p>
<p>La Gente de Networking Days</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
