<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
</head>

<body>
<p>&nbsp;</p>
<table width="100" border="0" cellspacing="20">
  <tr>
    <td><img src="http://www.networkingdayscircles.com/images/logo-networking-days.png" alt="Logo Networking Days" width="500" height="130" /></td>
    <td>  <p><img src="http://www.networkingdayscircles.com/images/Referencia-Enviada.png" alt="Sello" width="155" height="153" /></p></td>
  </tr>
</table>
<p>Estimado (NOMBRE),</p>
<p>Este correo es sólo para recordarte que has hecho una Recomendación de la Categoría (CATEGORIA) y Especialidad (ESPECIALIDAD)</p>
<p>Referiste a (NOMBRE DEL REFERIDO) para que contacte a (NOMBRE DEL INTERESADO)</p>
<p>Gracias por tu apoyo a los Círculos!</p>
<p>Cordialmente,</p>
<p>La Gente de Networking Days</p>
<p>&nbsp;</p>
</body>
</html>
