<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
</head>

<body>
<p>&nbsp;</p>
<table width="100" border="0" cellspacing="20">
  <tr>
    <td><img src="http://www.networkingdayscircles.com/images/logo-networking-days.png" alt="Logo Networking Days" width="500" height="130" /></td>
    <td><img src="http://www.networkingdayscircles.com/images/Has-sido-referido.png" alt="Sello" width="185" height="178" /></td>
  </tr>
  <tr>
    <td colspan="2"><p>Estimado (NOMBRE DEL REFERIDO),</p>
    <p>Este correo es para comunicarte que (NOMBRE DEL REFERIDOR) te ha referido con (NOMBRE DEL INTERESADO) en la Categoría (CATEGORIA) y Especialidad (ESPECIALIDAD)</p></td>
  </tr>
  <tr>
    <td colspan="2">  <p>Los datos de tu Potencial Cliente son:</p>
      <p><strong>Nombre:</strong> (NOMBRE DEL INTERESADO) </p>
      <p><strong>Teléfono</strong>: (TELÉFONO DEL INTERESADO)</p>
    <p><strong>e-Mail:</strong> (eMAIL DEL INTERESADO)</p></td>
  </tr>
</table>
<table width="718" height="179" border="0" cellspacing="20">
  <tr>
    <td valign="top"><p>Adelante, ya puedes contactarle. </p>
      <p>¡Éxitos!</p>
    <p>La Gente de Networking Days</p><br /></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
